body {
    text-align: center;
}

#center {
    background: -webkit-linear-gradient(top, #666 0%, #4d4d4d 100%);
    box-shadow: inset 0px 8px 28px rgba(0,0,0,0.7);
}
/************************************************************************/
canvas {
    margin: 15px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.8);
}
/************************************************************************/
p {
    font-size: 18px;
    font-family: Verdana;
}

#time {
    position: absolute;
    left: 10px;
    bottom: -5px;
}

#author {
    position: absolute;
    right: 10px;
    bottom: -5px;
    text-shadow: 2px -1px 4px #233333;
}